<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <div id="top_nav">
    <a href="/projects">Projects</a> / <a href="/">Home</a>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
